@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {

    background-color: thistle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    border: 2px solid black;
    padding: 20px;
    margin: 10px;
    background-color: rgb(98, 89, 89);
    border-radius: 1rem;
    

}

input::placeholder{
    font-size: 2.5rem;
    padding-right: 10px;
}

input{
    padding: 30px;
    font-size: 20px;
    text-align: right;
}

button{
    margin: 0.8rem;
    padding: 0.4rem;
    height: 40px;
    width: 40px;
    border-radius: 1rem;
    border: none;
    font-size: 20px;
    color: red;
    background-color: black;
    align-items: center;
    cursor: pointer;
}
#equel{
    background-color: orangered;
}
#btn{
   background-color: green;
}